.main {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.head {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid red;
}

.users {
    border-right: 2px solid red;
}